# ------------------------
# IntelliJ IDEA
# ------------------------
.idea/
*.iml
*.iws
out/

# ------------------------
# Node / JavaScript
# ------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# ------------------------
# OS별 불필요 파일
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Bash 테스트용
# ------------------------
*.sh
*.log
*.tmp

# ------------------------
# 기타
# ------------------------
*.class
*.jar
*.war
*.ear
